body {
  margin-top: 20%; }
  body div.container {
    background: white;
    color: black;
    font-family: Merriweather, serif;
    text-align: center;
    margin: 0 30% 0 30%; }
    body div.container h1 {
      font-size: 3em;
      font-weight: 600; }
    body div.container h2 {
      font-size: 1.3em;
      line-height: 50px; }
    body div.container ul {
      margin-top: 3%;
      line-height: 50px; }
      body div.container ul li {
        display: inline;
        margin: 1%; }
        body div.container ul li a {
          color: white;
          text-decoration: none;
          font-size: 1em;
          padding: 2% 3% 2% 3%;
          border-radius: 5%;
          background: #ca4e5d; }
          body div.container ul li a:hover {
            background: #b03544; }
