$primary-color: #fff; /* #E0DFE9 */
$background-color: #3991C0;
$third-color: darken($background-color, 10%);
$font-family: Montserrat, sans-serif;

html {
    //Boilerplate code that tells the body to use the entire window, even with empty space
    min-height: 100%;
}
body {
    //Boilerplate code that tells the body to use the entire window, even with empty space
    position:absolute; top:0; bottom:0; right:0; left:0;
    font-family: $font-family;
    background-color: $background-color;
    color: $primary-color;
}

header {
    background-color: $third-color;
    color: $primary-color;
}

nav {
    background-color: $background-color;
}

h1, h2, a, nav a {
    color: $primary-color;
}

nav a:visited {
    color: lighten($primary-color, 10%)
}

nav a.selected, nav a:hover {
    color: darken($primary-color, 10%)
}

#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    margin: 5px auto;
}

.project a p {
    max-width: 250px;
    margin: 0 auto;
}

header {
    //float: left;
    //This can mess up box doundaries, it's usually better to use an alternative to "float" anything
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
    text-align: center;
}

#logo {
    text-align: center;
    margin: 0;
}

h1 {
    margin: 20px 0 0 15px;
    font-size: 1.75em;
    line-height: 0.7em;
}

h2 {
    font-size: 0.8em;
    margin: 15px 0 0 15px;
}

nav {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 10px;
}

nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
}

footer {
    font-size: 0.8em;
    text-align: center;
    clear: both;
    padding-top: 50px;
    color: $primary-color;
    margin-bottom: 3px;
    opacity: 0.8;
}

.social-icon {
    width: 25px;
    height: 25px;
    margin: 0 5px;
}

#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    //CSS Quirk: text-align also aligns elements...sometimes
}

#gallery .table {
    display: table;
    width: 100%;
    height: 100%;
}

#gallery .wrap {
    display: table-cell;
    vertical-align: top;
    width: 30%;
    max-width: 100%;
    margin: 1%;
    padding: 1%;
}

#gallery .project {
    //float: left;
    //This can mess up box doundaries, it's usually better to use an alternative to "float" anything

    display: inline-block;
    //This will make the elements only occupy the space that they need to fit tighly around their contents, leaving room for more on the same "row"

    width: 100%;
    background-color: $background-color;
    color: $primary-color;
}

#gallery .project a {
    display: block;
}

#gallery .project a p {
    margin: 0;
    padding-top: 5%;
    max-width: 70%;
    font-size: 0.8em;
    color: $primary-color;

    //This helps center the <p> element istelf within the <a>, and therefore adjusting the text inside it
    margin-left: auto;
    margin-right: auto;
}
