html, body, div, img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

header .welcome {
  height: 80vh;
  background-color: #3498db;
  color: white;
  font-family: Arimo, Avenir Next, Helvetica, sans-serif;
  text-align: center;
  line-height: 1.7; }
  header .welcome img {
    border: 3px solid #dddddd;
    border-radius: 30%;
    width: 14%;
    height: auto;
    margin: 15vh 10vh 5vh 10vh; }
  header .welcome p {
    margin: 0; }
    header .welcome p a, header .welcome p a:link {
      color: inherit;
      text-decoration: none;
      border-bottom: 1px solid;
      padding: 2px; }
      header .welcome p a:hover, header .welcome p a:link:hover {
        color: #6ebe84;
        border-bottom: 0px solid; }

.portfolio, .social, .contact {
  text-align: center; }
  .portfolio h1, .social h1, .contact h1 {
    font-family: Playfair Display, serif; }
  .portfolio ul li, .social ul li, .contact ul li {
    list-style-type: none;
    display: inline; }
    .portfolio ul li a img, .social ul li a img, .contact ul li a img {
      width: 35%;
      height: auto; }

.social {
  background-color: #3498db;
  padding: 5vh;
  color: white; }
  .social h1 {
    margin: 3vh 3vh 7vh 3vh; }
  .social .fa {
    font-size: 2em;
    margin: 0 2vw 0 2vw;
    color: white; }

.contact {
  background-color: white;
  margin: 5vh; }
  .contact a, .contact a:link {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid;
    padding: 1px; }
    .contact a:hover, .contact a:link:hover {
      color: #6ebe84;
      border-bottom: 0px solid; }

footer {
  font-family: Arimo, Avenir Next, Helvetica, sans-serif;
  padding: 3vh;
  background: #3498db;
  text-align: center;
  color: white; }
