$sans-font-family: 'Montserrat', sans-serif

div.wrapper
	header
		text-align: right
		margin: 15vh 2vw 0 10vw
		line-height: 1em
		float: left
		font-family: $sans-font-family
		h1
			font-size: 2em
		h2
			color: grey
			font-size: 1.5em
		img
			max-width: 28%
			min-width: 23%
			border-radius: 10%
		header
			font-family: $sans-font-family
		i.fa
			font-size: 1.5em
			padding: 5px
		i.fa-twitter:hover
			color: #4099FF
		i.fa-envelope-o:hover
			color: #E0432E

	div.portfolio
		float: right
		font-family: $sans-font-family
		text-align: left
		margin: 12vh 30vw 0 0
		ul
			list-style-type: none
			li
				line-height: 1.5em
				a
					color: grey
					text-decoration: none
					font-weight: normal
					&:hover
						color: black