$sans-font-family: 'Montserrat', sans-serif

@media only screen and (max-width: 500px)
	div.wrapper
		float: none
		header
			text-align: center !important
		hr
			display: inline-block !important
			margin: 10px !important
		div.portfolio
			ul
				text-align: center

div.wrapper
	padding: 10%
	header
		text-align: right
		line-height: 1em
		float: left
		font-family: $sans-font-family
		h1
			font-size: 2em
		h2
			color: grey
			font-size: 1.5em
		img
			max-width: 28%
			min-width: 23%
			border-radius: 10%
		header
			font-family: $sans-font-family
		a
			color: inherit
		i.fa
			font-size: 1.5em
			padding: 5px
		i.fa-twitter:hover
			color: #4099FF
		i.fa-envelope-o:hover
			color: #E0432E

	hr
		display: none

	div.portfolio
		float: right
		font-family: $sans-font-family
		text-align: left
		ul
			list-style-type: none
			li
				line-height: 1.5em
				a
					color: grey
					text-decoration: none
					font-weight: normal
					&:hover
						color: black