form action="/charge" method="POST"
  script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_live_wGdz5yInbDD6y0WAvGyvpnLS" data-name="Web Development" data-description="Quick Tune-up" data-currency="cad" data-amount="1"
