<h2>About Me</h2>
<p>I like programming, reading, learing, writing, photography, video production, creating, collaboration, the oxford comma, and travelling.</p>

<h2>Knowledge</h2>
<ul>
  <li>Ruby and Python</li>
  <li>Objective-C and Swift</li>
  <li>HTML, CSS, and JS</li>
  <!-- <li>C# and Java</li> -->
  <li>CLI and Git</li>
  <li>List Making</li>
</ul>

<p>I also have a <a href="resume.pdf">résumé</a> if you'd like a nice organized version of this.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/trommel">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="https://nulljosh.svbtle.com">My attempt at writing</a>
  </li>
</ul>
